<form #form="ngForm" (ngSubmit)="onSubmit()">
  <p>Full name</p>
  <input
    class="checkoutForm my-3 ps-2"
    type="text"
    name="fullName"
    required
    placeholder="(minimum 3 characters)"
    minlength="3"
    [(ngModel)]="fullName"
  />

  <p>Address</p>
  <input
    class="checkoutForm my-3 ps-2"
    type="text"
    name="address"
    required
    placeholder="(minimum 6 characters)"
    minlength="6"
    [(ngModel)]="address"
  />

  <p>Credit card number</p>
  <input
    class="checkoutForm my-3 ps-2"
    type="text"
    name="creditCardNumber"
    required
    placeholder="(16-digit number)"
    minlength="16"
    [(ngModel)]="creditCardNumber"
  />

  <span class="Error" *ngIf="creditErrorMassage">{{ creditErrorMassage }}</span>

  <p class="smallText">
    We'll never share your payment details with anyone else
  </p>

  <button type="submit" class="btn btn-primary my-3" [disabled]="form.invalid">
    Submit
  </button>
</form>
