<a routerLink="/product-details/{{ product.id }}"
  ><div class="imageContaner border border-info text-center">
    <img class="image py-2 px-2" src="{{ product.url }}" /></div
></a>
<p class="text-center">{{ product.name }}</p>
<p class="text-center">${{ product.price }}</p>
<form class="text-center" (ngSubmit)="onSubmit()">
  <select class="pe-5" name="quantity" id="quantity" [(ngModel)]="quantity">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
  </select>
  <br />
  <button type="submit" class="btn btn-primary my-3">Add to cart</button>
</form>
